<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
    <link rel="stylesheet" href="main.css">
    <link rel="stylesheet" href="login.css">
</head>
<body>
    <header class="header">
        <div class="navbar">
            <ul>
                <li><a href="login.html">로그인</a></li>
                <li><a href="#">회원가입</a></li>
                <li><a href="#">장바구니</a></li>
    
            </ul>
        </div>
    
        <div class="logo-bar"><a href="main.html"><img src="img/logo.png" alt=""></a></div>

        <div class="search-bar">
            <button class="seach-icon"></button>
        </div>
    
        <div class="menu-box-1-m">
            <img src="https://png.pngtree.com/svg/20160421/hamburger_menu_1088333.png">
        </div>
        <div class="share">
            <img src="https://icon-library.net/images/share-png-icon/share-png-icon-21.jpg">
        </div>
        <div class="menu-box-1">
            <nav class="menu-box-1 con">
                <ul class="row">
                    <li class="cell">
                        <a class="groupmenu" href="#">의류</a>
                        <ul>
                            <li><a href="#">남성</a></li>
                            <li><a href="#">여성</a></li>
                            <li><a href="#">아동</a></li>
                        </ul>
                    <li class="cell">
                        <a class="groupmenu" href="#">뷰티</a>
                        <ul>
                            <li><a href="#">화장품</a></li>
                            <li><a href="#">헤어</a></li>
                            <li><a href="#">향수</a></li>
                        </ul>
                    </li>
                    <li class="cell">
                        <a class="groupmenu" href="#">식품</a>
                        <ul>
                            <li><a href="#">신선식품</a></li>
                            <li><a href="#">가공식품</a></li>
                            <li><a href="#">음료</a></li>
                            <li><a href="#">건강식품</a></li>
                        </ul>
                    <li class="cell">
                        <a class="groupmenu" href="#">가전</a>
                        <ul>
                            <li><a href="#">TV</a></li>
                            <li><a href="#">냉장고</a></li>
                            <li><a href="#">세탁기</a></li>
                            <li><a href="#">컴퓨터</a></li>
                            <li><a href="#">노트북</a></li>
                        </ul>
                    <li class="cell">
                        <a class="groupmenu" href="#">가구</a>
                        <ul>
                            <li><a href="#">거실</a></li>
                            <li><a href="#">주방</a></li>
                            <li><a href="#">침실</a></li>
                        </ul>
                    <li class="cell">
                        <a class="groupmenu" href="#">스포츠</a>
                        <ul>
                            <li><a href="#">스포츠의류</a></li>
                            <li><a href="#">구기종목</a></li>
                            <li><a href="#">휘트니스/수영</a></li>
                            <li><a href="#">자전거</a></li>
                            <li><a href="#">캠핑</a></li>
                            <li><a href="#">등산</a></li>
                        </ul>
                    <li class="cell">
                        <a class="groupmenu" href="#">도서</a>
                        <ul>
                            <li><a href="#">인문/교양/음반</a></li>
                            <li><a href="#">학습/교육</a></li>
                            <li><a href="#">유아동</a></li>
                        </ul>
                </ul>
            </nav>
        </div>
    </header>
    <form class="wrap">
        <div class="login">
            <h2>로그인</h2>
            <div class="login_id">
                <input type="email" name="" id="" placeholder="아이디">
            </div>
            <div class="login_pw">
                <input type="password" name="" id="" placeholder="비밀번호">
            </div>
            <div class="login_etc">
                <label class="remember-checkbox">
                <input type="checkbox" name="" id="remember-checkbox"> 아이디 저장
                </label>
                <div class="sign_up">
                    <a href="">회원가입</a>
                </div>
                <div class="forgot_pw">
                <a href="">비밀번호 찾기</a>
                </div>
            </div>
            <div class="submit">
                <input type="submit" value="로그인">
            </div>
            <div class="login_sns">
                <li><a href="/oauth2/authorization/naver"><img src="img/naver.png" class="naver"></a></li>
                <li><a href="/oauth2/authorization/google"><img src="img/google.png" class="google"></a></li>
                </div>
        </div>
    </form>
</body>
</html>